@using MvcOnlineCommercialAutomation.Models.Classes
@model List<Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--<h2>Index</h2>-->
<!--Ürünler için ürün listeleme sayfası-->
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ürün</th>
        <th>Marka</th>
        <th>Stok</th>
        <th>Alış Fiyat</th>
        <th>Satış Fiyat</th>
        <th>Kategori</th>
        <th>Görsel</th>
    </tr>
    @foreach(var p in Model)
     {
        <tr>
            <!--ürünleri listeleyelim-->
            <td>@p.ProductID</td>
            <td>@p.ProductName</td>
            <td>@p.Brand</td>
            <td>@p.Stock</td>
            <td>@p.PurchasePrice</td>
            <td>@p.SalePrice</td>
            <td>@p.Category.CategoryName</td><!--İlişkili tablolardan geleceği için Category içindeki Category Name olur.-->
            <td>@p.ProductImage</td>


        </tr>
     }

</table>
<!--yeni ürün eklemek için-->

<a href="/Product/AddProduct" class="btn btn-primary">Ürün Ekle</a>
